/* Remove margens padrão */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

/* ========================== */
/*     MENU SUPERIOR          */
/* ========================== */
.topo {
    background: #f5d1df;
    padding: 10px 0;
}

.topo nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.topo a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.topo a.ativo {
    color: #ac4a6e;
}

.login-area a {
    margin-left: 10px;
    color: #ac4a6e;
    text-decoration: none;
    font-weight: bold;
}

/* ========================== */
/*       BANNER PRINCIPAL     */
/* ========================== */
.banner {
    background: #eee;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-conteudo {
    text-align: center;
}

.banner h1 {
    font-size: 60px;
    color: #666;
}

.banner p {
    color: #777;
}

/* ========================== */
/*           CARRINHO         */
/* ========================== */
.carrinho {
    background: #f1b97a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.300);
    font-size: 30px;
    padding: 30px;
    text-align: left;
    font-weight: bold;
}

/* ========================== */
/*       CATEGORIAS           */
/* ========================== */
.categorias {
    width: 50%;
    margin: 30px auto;
}

.categoria {
    background: #fff;
    margin-bottom: 35px;
    border-radius: 10px;
    padding: 20px;

    /* Centraliza conteúdo na horizontal */
    display: flex;
    justify-content: center;

    /* Centraliza conteúdo verticalmente */
    align-items: center;

    gap: 20px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.300);

    opacity: 0;                /* começa invisível */
    transform: translateY(30px); /* começa um pouco embaixo */
    animation: aparecer 0.6s ease forwards; /* ativa a animação */
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.categoria h2{
    font-size: 30px;
}

.categoria ul{
    font-size: 20px;
}

.categoria a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Área reservada para as fotos */
.img-area {
    width: 600px;
    height: 300px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Títulos das categorias */
.categoria-info h2 {
    margin: 0 0 10px 0;
}

/* ========================== */
/*            RODAPÉ          */
/* ========================== */
.rodape {
    margin-top: 40px;
    background: #f7a3b5;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.300);
}

.rodape .col {
    width: 20%;
}

.rodape h3 {
    margin-bottom: 10px;
}

.rodape a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 6px;
}

.copy {
    text-align: center;
    padding: 15px;
    background: #f28aa3;
    color: white;
}

/* botaum */

.btn-add {
    padding: 10px 20px;
    background: #f28aa3;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-add:hover {
    background: #d96982;
}

/* ========================== */
/*      RESETAR CARRINHO      */
/* ========================== */

.btn-reset {
    margin-left: 15px;
    background: #878787;
    border: none;
    padding: 6px 12px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.btn-reset:hover {
    background: #515151;
}
